<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <div class="container-fluid">

    <a class="navbar-brand">
      Automobile Seller
    </a>

    <div class="navbar-nav">

      <a
        class="nav-link"
        routerLink="">

        Home

      </a>

      <a
        class="nav-link"
        routerLink="/brands">

        Brands

      </a>

      <a
        class="nav-link"
        routerLink="/models">

        Models

      </a>

      <a class="nav-link" routerLink="/inventory">
        Inventory
      </a>

      <a class="nav-link" routerLink="/customers">
        Customers
      </a>

      <a class="nav-link" routerLink="/sales">
        Sales
      </a>

    </div>

  </div>

</nav>