<div class="container mt-5">

  <div class="d-flex justify-content-between align-items-center mb-4">

    <h2>Car Models</h2>

    <button
      class="btn btn-primary"
      (click)="toggleCreateForm()">

      Add

    </button>

  </div>

  <table
    class="table table-bordered table-striped table-hover">

    <thead class="table-dark">

      <tr>

        <th>Id</th>

        <th>Model Name</th>

        <th>Price</th>

        <th>Brand</th>

        <th>Actions</th>

      </tr>

    </thead>

    <tbody>

      <tr *ngFor="let model of models">

        <td>{{ model.id }}</td>

        <td>{{ model.name }}</td>

        <td>{{ model.price }}</td>

        <td>{{ model.brandName }}</td>

        <td>

          <button
            class="btn btn-warning btn-sm"
            (click)="editModel(model)">

            Edit

          </button>

          <button
            class="btn btn-danger btn-sm ms-2"
            (click)="deleteModel(model.id)">

            Delete

          </button>

        </td>

      </tr>

    </tbody>

  </table>

  <div *ngIf="showCreateForm">

    <app-create-car-model
      [selectedModel]="selectedModel"
      (modelSaved)="onModelSaved()">

    </app-create-car-model>

  </div>

</div>